:root {
  --site_grid-template-columns: 25% 75%;
  --site_grid-template-rows: minmax(200px, auto) auto minmax(200px, auto);
  --site_grid-template-areas: "hero hero" "nav content" "footer footer";
  
  --site__header_height: 96px;
  --site__header__button_display: none;
  
  
  --site__nav_display: initial;
  --site__nav_top: var(--site__header_height);
  --site__nav_min-height: calc(100vh - var(--site__header_height));
  
  --site__content_padding-left: 96px;
  --site__content_padding-right: 20%;
  
  --site__hero_height: 400px;
  
  --site__footer_height: 400px;
}


@media (max-width: 1024px) {
  :root {
    --site_grid-template-columns: 1fr;
    --site_grid-template-rows: minmax(200px, auto) auto minmax(200px, auto);
    --site_grid-template-areas: "hero" "content" "footer";

    --site__header__button_display: block;
    
    --site__nav_display: none;    

    --site__content_padding-left: 16px;
    --site__content_padding-right: 16px;
  }
}

.site {
  display: grid;
  grid-template-columns: var(--site_grid-template-columns);
  grid-template-rows: var(--site_grid-template-rows);
  grid-template-areas: var(--site_grid-template-areas);
}

.site__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--site__header_height);
  z-index: 100;
}

.site__header > button {
  display: var(--site__header__button_display);
}

.site__hero {
  grid-area: hero;
  height: var(--site__hero_height);
}

.site__nav {  
  grid-area: nav;
  display: var(--site__nav_display);
}

.site__nav > * {
  position: sticky;
  top: var(--site__nav_top);
  min-height: var(--site__nav_min-height);
}

.site__content {
  grid-area: content; 
  padding-left: var(--site__content_padding-left);
  padding-right: var(--site__content_padding-right);
}

.site__footer {
  grid-area: footer;
  height: var(--site__footer_height);
}
