:root {
  --site__header_background-color: #ffffff; 
  --site__nav_background-color: #ffffff;
  --site__hero_background-color: #ffffff;
  --colors__highlight: olivedrab;
}

.site__nav {
   background-color: var(--site__nav_background-color); 
}

.site__header {
   background-color: var(--site__header_background-color);
}

.site__hero {
   background-color: var(--site__hero_background-color);
}

.tags {
  list-style: none;
}

.tags > li {
  display: inline;
}


.tags > li:not(:last-child):after {
  content: ', ';
}

.highlight {
  color: var(--colors__highlight);
}

.markdown-body a {
  color: var(--colors__highlight);
}
