:root {
  --site__header_background-color: #ffffff; 
  --site__nav_background-color: #ffffff;
  --site__hero_background-color: #ffffff;
  --colors__highlight: olivedrab;
}

.site__nav {
   background-color: var(--site__nav_background-color); 
}

.site__header {
   background-color: var(--site__header_background-color);
}

.site__hero {
   background-color: var(--site__hero_background-color);
}

.tags {
  list-style: none;
}

.tags > li {
  display: inline;
}


.tags > li:not(:last-child):after {
  content: ', ';
}

.markdown-body a {
  color: var(--colors__highlight);
}

button {
    border: none;
    background-color: unset;
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.site__footer {
  text-align: center;
}

.site__hero {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
